<div class="container-fluid">
  <div id="new-relic-header" class="row">
    <div class="col-md-4">
      <h3>New Relic</h3>
    </div>
    <div id="new-relic-state" class="col-md-4">
      <span id="new-relic-state-label">&nbsp;</span>
    </div>
    <div id="new-relic-sso-form" class="col-md-4"></div>
  </div>
  <div id="new-relic-status" class="row well">
    <div id="new-relic-status-health" class="col-md-3"></div>
    <div id="new-relic-status-response_time" class="col-md-3"></div>
    <div id="new-relic-status-apdex_score" class="col-md-3"></div>
    <div id="new-relic-status-throughput" class="col-md-3"></div>
  </div>
  <div class="row">
    <div id="new-relic-chart-web_response" class="col-md-12"></div>
  </div>
  <div class="row">
    <div id="new-relic-chart-throughput" class="col-md-4"></div>
    <div id="new-relic-chart-apdex" class="col-md-4"></div>
    <div id="new-relic-chart-host_memory" class="col-md-4"></div>
  </div>
</div>
