<div class="container-fluid">
  <h3>Workflows</h3>
  <hr />
  <div id="workflow-table-region" class="row">
    <div class="text-center" style="min-height: 60px">
      <span
        class="glyphicons glyphicons-repeat normal-right-spinner loader-large"
      ></span>
    </div>
  </div>
  <br />
  <h3>Quicksilver Logs</h3>
  <hr />
  <div id="quicksilver-table-region" class="row" style="min-height: 60px">
    <div class="text-center">
      <span
        class="glyphicons glyphicons-repeat normal-right-spinner loader-large"
      ></span>
    </div>
  </div>
</div>
